﻿@model alibabanew.Models.ViewModel.AdvertsAddViewModel

@{
    ViewData["Title"] = "AdvertsAdd";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>AdvertsAdd</h2>

<h4>AdvertsAddViewModel</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AdvertsAdd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Warranty" /> @Html.DisplayNameFor(model => model.Warranty)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ColorId" class="control-label"></label>
                    <input asp-for="ColorId" class="form-control" />
                    <span asp-validation-for="ColorId" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" name="CategoryID" id="CategoryID" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfCategory, "CategoryName"))" ></select>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label class="control-label">SubCategoryName</label>
                            <select class="form-control" id="SubCategoryID" name="SubCategoryID" asp-for="SubCategoryId"
                                asp-items="@(new SelectList(string.Empty,"SubCategoryID", "SubCategoryName"))"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label class="control-label">TrademarkName</label>
                            <select class="form-control" id="TrademarkID" name="TrademarkID" asp-for="TrademarkId"
                                asp-items="@(new SelectList(string.Empty,"TrademarkID", "TrademarkName"))"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label class="control-label">ModelName</label>
                            <select class="form-control" id="ModelID" name="ModelID" asp-for="ModelId"
                                asp-items="@(new SelectList(string.Empty,"ModelID", "ModelName"))"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Image1" class="control-label"></label>
                    <input asp-for="Image1" class="form-control" />
                    <span asp-validation-for="Image1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image2" class="control-label"></label>
                    <input asp-for="Image2" class="form-control" />
                    <span asp-validation-for="Image2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image3" class="control-label"></label>
                    <input asp-for="Image3" class="form-control" />
                    <span asp-validation-for="Image3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>




<script src="/../lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var items = "<option value='0'>Select</option>";
        $('#SubCategoryID').html(items);
        $('#TrademarkID').html(items);
        $('#ModelID').html(items);
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#CategoryID').change(function () {
                var url = '@Url.Content("~/")' + "User/SubCategory";
                var ddlsource = "#CategoryID";
                $.getJSON(url, { CategoryID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#SubCategoryID").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                    $('#SubCategoryID').html(items);
                });
            });

            $('#SubCategoryID').change(function () {
                var url = '@Url.Content("~/")' + "User/GetProducts";
                var ddlsource = "#SubCategoryID";
                $.getJSON(url, { SubCategoryID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#TrademarkID').empty();
                    $.each(data, function (i, trademark) {
                        items += "<option value='" + trademark.value + "'>" + trademark.text + "</option>";
                    });
                    $('#TrademarkID').html(items);
                });
            });
             $(document).ready(function () {
            $('#TrademarkID').change(function () {
                var url = '@Url.Content("~/")' + "User/GetSubCategory";
                var ddlsource = "#TrademarkID";
                $.getJSON(url, { TrademarkID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#ModelID").empty();
                    $.each(data, function (i, model) {
                        items += "<option value='" + model.value + "'>" + model.text + "</option>";
                    });
                    $('#ModelID').html(items);
                });
            });
        });
</script>